<div id="admin" class="p-3">
  <%- include('./Actions/adminAction.ejs', { actionTitle: 'Add new School', actionDescription: 'Add new Schools here, to list them up for users to search', buttonName: 'Add School' }) %>
  <%- include('./Actions/adminAction.ejs', { actionTitle: 'Add new Course', actionDescription: 'Add new Course here, to list them up for users to search', buttonName: 'Add Course' }) %>
  <%- include('./Actions/adminAction.ejs', { actionTitle: 'Add new Subject', actionDescription: 'Add new Subject here, to list them up for users to search', buttonName: 'Add Subject' }) %>
</div>