<!DOCTYPE html>
<html>
<head>
	<title>My First Webpage</title>
	<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<%- include('header.ejs', {isAuthenticated}) %>
	<%- include('./Admin/admin.ejs') %>
	<%- 
	<p></p>
</body>
</html>