<div class="card" style="width: 18rem; display: inline-block; margin-right: 20px;">
    <div class="card-header">
      Admin Action
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= actionTitle %></h5>
      <p class="card-text"><%= actionDescription %></p>
      <a href="<%= addSchoolUrl %> + " class="btn btn-primary"><%= buttonName %></a>
    </div>
  </div>