<div>
    <form action="">
        <label for="">Country Name</label>
        <input type="text" name="Country Name" id="countryName">
        <label for="">School Name</label>
        <input type="text" name="School Name" id="schoolName">
        <label for="">School Description</label>
        <input type="text" name="SchoolDescription" id="schoolDescription">
        <label for="">Google Location</label>
        <input type="text" name="GoogleLocation" id="googleLocation">
        <input type="submit" value="Submit">
    </form>
</div>